<div class="table-container">
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Attack</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% @result['moves'].each_with_index do |data,index| %>
        <tr>
            <td><%= index+1 %></td>
            <td><%= data['move']['name'] %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>