<div class="image" id="about-div">
    <div class="card half text-center">
        <div class="card-header">
            About PokeWiki
        </div>
        <div class="card-body info">
            <p class="card-text">PokiWiki is built using Ruby on Rails framework. The web-app communicates with the <%= link_to "PokeApi", "https://pokeapi.co/" %> API to fetch data about the required pokemon.</p>
            <p class="card-text">In order to fetch data from the API the app uses a wrapper developed by PokeApi in the form of a ruby gem.</p>
            <p class="card-text">
                The interface is built using <%= link_to "BootStrap", "https://getbootstrap.com/" %>. It also uses vanilla CSS and JS.
            </p>
            <p class="card-text">
                Background images are sourced from <%= link_to "Unsplash", "https://unsplash.com/" %>.
            </p>
        </div>
    </div>
</div>