.image{
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 88vh;
}
#index-div{
    background-image: url("../mikel-DypO_XgAE4Y-unsplash.jpg");
}
#search-div{
    background-image: url("../thimo-pedersen-dip9IIwUK6w-unsplash.jpg")
}
#about-div{
    background-image: url("../jason-hudson-EUF2azfNtm0-unsplash.jpg");
}
.half{
    width: 50vw;
    min-width: 230px;
    background: none;
    background-color: rgba(150,150,150,0.3);
    backdrop-filter: blur(5px);
    margin: 2vh 0 2vh 0;
}
.card-header{
    font-family: 'Pokemon Solid', sans-serif;
    font-size: xxx-large;
    color: #ffcd05;
    backdrop-filter: blur(12px); 
}
.form{
    display: flex;
    justify-content: center;
}
.card-title{
    color:black;
}
.card-text{
    color:black;
}
.table-container{
    height: 59vh;
    overflow: auto;
}
.nav-link{
    color:white;
}
.nav-link:hover{
    color:black;
}
.nav-pills{
    justify-content: center;
}
.info{
    font-size: x-large;
}
.panel{
    height: 88vh;
    display: grid;
    align-items: center;
    justify-content: center;
}
#panel-1{
    background-color: rgb(179, 52, 77);
}
#panel-1:hover{
    background-color: rgb(130, 14, 37);
}
#panel-2{
    background-color: slategray;
}
#panel-2:hover{
    background-color: rgb(59, 67, 74);
}
#panel-3{
    background-color: slateblue;
}
#panel-3:hover{
    background-color: rgb(72, 62, 139);
}
.fa{
    font-size: 20rem !important;
}