.image{
    background-image: url("../mikel-DypO_XgAE4Y-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 89vh;
}
.card{
    width: 50vw;
    min-width: 230px;
    background: none;
    background-color: rgba(150,150,150,0.3);
    backdrop-filter: blur(5px);
    margin: 2vh 0 2vh 0;
}
.card-header{
    font-family: 'Pokemon Solid', sans-serif;
    font-size: xxx-large;
    color: rgb(181, 40, 40);
}
.form{
    display: flex;
    justify-content: center;
}
.card-title{
    color:black;
}
.card-text{
    color:black;
}